#heading {
    color: red;
}
body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    
}
.body-container {
    background-color: whitesmoke;
    padding: 20px 0;
}

.logo {
    width: 70px;
}
.nav-items ul {    
        display: flex;
        list-style: none; 
}
.nav-items ul li {    
    margin: 0 15px;
    font-size: 16px; 
}
.restaurants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.restaurant-card {
    width:20%;
    padding: 20px;
    background-color: rgb(234, 234, 234);
    margin: 15px;
}
.search-container {
    margin-left: 20px;
}
.restaurant-card .restaurant-image {
    width: 100%;
}
